p{
  margin: 0 !important;
}

#homeMainDiv {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardDiv {
  height: clamp(150px, 50%, 300px);
  width: clamp(200px, 23%, 400px);
  margin: 2%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  box-shadow: 7px 7px 7px grey;
  transition-duration: 0.25s;
}

.cardDiv:hover {
  box-shadow: 3px 3px 7px grey;
  transition-duration: 0.25s;
}


.cardInfoDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(12px, 2.8vh, 15px);
  margin: 4%;
  font-family: Helvetica;
  letter-spacing: 0.5px;
}

.cardInfoSubDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
}

#detailsMainDiv{
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detailsHeader{
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica;
  letter-spacing: 1px;
}

#detailsTitle{
  margin-top: 20px;
  font-size: 40px;
}

#detailsImage{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 10%;
  z-index: -1;
}

#detailsInfo{
  height: 70%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#detailsContent{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

#detailsAttendees{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#detailsSubAttendees{
  flex: 1 1 auto;
  direction: rtl;
  overflow-y: auto;
  width: 100%;
}

.detailsAttendee{
  width: 100%;
  background-color: rgba(0, 75, 125, 0.1);
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  cursor: default;
}

.detailsAttendee:hover{
  background-color: rgba(0, 75, 125, 0.2);
  transition-duration: 0.3s;
}

#detailsAttendees > input {
  width: 100%;
  min-height: 35px;
  border: none;
  background-color: rgba(0, 75, 125, 0.8);
  color: white;
  cursor: pointer;
}

#attendButton:hover {
  background-color: rgba(0, 75, 125, 1);
  transition-duration: 0.3s;
}

#attending {
  background-color: rgba(0, 200, 75, 0.8) !important;
  cursor: default !important;
}

#detailsDescription{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detailsItems{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detailsSubItems{
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
}
.detailsItem{
  width: 80%;
  background-color: rgba(0, 75, 125, 0.1);
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Helvetica;
  cursor: pointer;
}

.detailsItem:hover{
  background-color: rgba(0, 75, 125, 0.2);
  transition-duration: 0.3s;
}

.popupContainer {
  position: fixed;
  z-index: 2;
  background: rgba(200, 200, 200, 0.5);
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.popup {
  opacity: 1;
  height: 30vh;
  width: 60vw;
  background-color: white;
  border-radius: 50px;
  box-shadow: 10px 10px 10px grey;
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  animation: popup 0.3s;
}

@keyframes popup {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
